/* Load Figma color styles */
:root {
	--base-white: rgba(255, 255, 255, 1);
	--base-black: rgba(0, 0, 0, 1);
	--links-indigo: rgba(78, 38, 219, 1);
	--primary-gray-25: rgba(252, 252, 252, 1);
	--primary-gray-50: rgba(246, 246, 246, 1);
	--primary-gray-100: rgba(231, 231, 231, 1);
	--primary-gray-200: rgba(209, 209, 209, 1);
	--primary-gray-300: rgba(176, 176, 176, 1);
	--primary-gray-400: rgba(136, 136, 136, 1);
	--primary-gray-500: rgba(109, 109, 109, 1);
	--primary-gray-600: rgba(93, 93, 93, 1);
	--primary-gray-700: rgba(79, 79, 79, 1);
	--primary-gray-800: rgba(69, 69, 69, 1);
	--primary-gray-900: rgba(57, 57, 57, 1);
	--primary-gray-950: rgba(38, 38, 38, 1);
	--primary-primary-25: rgba(251, 251, 255, 1);
	--primary-primary-50: rgba(246, 246, 255, 1);
	--primary-primary-100: rgba(239, 239, 255, 1);
	--primary-primary-200: rgba(214, 214, 254, 1);
	--primary-primary-300: rgba(183, 180, 254, 1);
	--primary-primary-400: rgba(147, 138, 251, 1);
	--primary-primary-500: rgba(111, 90, 248, 1);
	--primary-primary-600: rgba(84, 46, 238, 1);
	--primary-primary-700: rgba(78, 38, 219, 1);
	--primary-primary-800: rgba(65, 31, 184, 1);
	--primary-primary-900: rgba(55, 28, 150, 1);
	--primary-primary-950: rgba(31, 15, 102, 1);
	--primary-steel-indigo-25: rgba(251, 251, 255, 1);
	--primary-steel-indigo-50: rgba(244, 244, 250, 1);
	--primary-steel-indigo-100: rgba(230, 230, 243, 1);
	--primary-steel-indigo-200: rgba(210, 210, 235, 1);
	--primary-steel-indigo-300: rgba(179, 180, 221, 1);
	--primary-steel-indigo-400: rgba(144, 143, 203, 1);
	--primary-steel-indigo-500: rgba(122, 116, 189, 1);
	--primary-steel-indigo-600: rgba(108, 97, 175, 1);
	--primary-steel-indigo-700: rgba(101, 86, 159, 1);
	--primary-steel-indigo-800: rgba(87, 74, 131, 1);
	--primary-steel-indigo-900: rgba(59, 52, 87, 1);
	--primary-steel-indigo-950: rgba(48, 42, 65, 1);
	--primary-states-error-25: rgba(254, 250, 250, 1);
	--primary-states-error-50: rgba(254, 242, 241, 1);
	--primary-states-error-100: rgba(254, 227, 225, 1);
	--primary-states-error-200: rgba(254, 205, 201, 1);
	--primary-states-error-300: rgba(252, 161, 155, 1);
	--primary-states-error-400: rgba(249, 112, 102, 1);
	--primary-states-error-500: rgba(240, 68, 55, 1);
	--primary-states-error-600: rgba(217, 44, 32, 1);
	--primary-states-error-700: rgba(179, 34, 24, 1);
	--primary-states-error-800: rgba(144, 31, 23, 1);
	--primary-states-error-900: rgba(122, 38, 25, 1);
	--primary-states-error-950: rgba(84, 21, 12, 1);
	--primary-states-success-25: rgba(245, 253, 249, 1);
	--primary-states-success-50: rgba(236, 252, 242, 1);
	--primary-states-success-100: rgba(219, 249, 230, 1);
	--primary-states-success-200: rgba(170, 239, 198, 1);
	--primary-states-success-300: rgba(117, 223, 166, 1);
	--primary-states-success-400: rgba(71, 205, 137, 1);
	--primary-states-success-500: rgba(23, 177, 105, 1);
	--primary-states-success-600: rgba(6, 148, 84, 1);
	--primary-states-success-700: rgba(5, 118, 71, 1);
	--primary-states-success-800: rgba(7, 93, 57, 1);
	--primary-states-success-900: rgba(7, 76, 48, 1);
	--primary-states-success-950: rgba(4, 51, 32, 1);
	--primary-states-warning-25: rgba(255, 252, 244, 1);
	--primary-states-warning-50: rgba(255, 249, 235, 1);
	--primary-states-warning-100: rgba(254, 239, 198, 1);
	--primary-states-warning-200: rgba(254, 222, 136, 1);
	--primary-states-warning-300: rgba(254, 200, 74, 1);
	--primary-states-warning-400: rgba(252, 176, 34, 1);
	--primary-states-warning-500: rgba(247, 143, 8, 1);
	--primary-states-warning-600: rgba(219, 104, 3, 1);
	--primary-states-warning-700: rgba(181, 71, 7, 1);
	--primary-states-warning-800: rgba(147, 55, 12, 1);
	--primary-states-warning-900: rgba(121, 45, 13, 1);
	--primary-states-warning-950: rgba(78, 29, 8, 1);
	--secondary-orange-25: rgba(255, 250, 249, 1);
	--secondary-orange-50: rgba(253, 245, 243, 1);
	--secondary-orange-100: rgba(252, 233, 228, 1);
	--secondary-orange-200: rgba(251, 214, 205, 1);
	--secondary-orange-300: rgba(247, 185, 170, 1);
	--secondary-orange-400: rgba(243, 164, 145, 1);
	--secondary-orange-500: rgba(229, 107, 78, 1);
	--secondary-orange-600: rgba(210, 79, 48, 1);
	--secondary-orange-700: rgba(176, 64, 37, 1);
	--secondary-orange-800: rgba(146, 56, 34, 1);
	--secondary-orange-900: rgba(121, 52, 35, 1);
	--secondary-orange-950: rgba(66, 23, 13, 1);
	--secondary-pink-25: rgba(255, 245, 252, 1);
	--secondary-pink-50: rgba(255, 240, 251, 1);
	--secondary-pink-100: rgba(254, 233, 252, 1);
	--secondary-pink-200: rgba(252, 210, 245, 1);
	--secondary-pink-300: rgba(248, 175, 233, 1);
	--secondary-pink-400: rgba(242, 128, 217, 1);
	--secondary-pink-500: rgba(229, 70, 194, 1);
	--secondary-pink-600: rgba(202, 47, 165, 1);
	--secondary-pink-700: rgba(167, 36, 132, 1);
	--secondary-pink-800: rgba(137, 31, 108, 1);
	--secondary-pink-900: rgba(112, 31, 88, 1);
	--secondary-pink-950: rgba(74, 8, 54, 1);
	--secondary-violet-25: rgba(253, 252, 255, 1);
	--secondary-violet-50: rgba(249, 245, 255, 1);
	--secondary-violet-100: rgba(241, 233, 254, 1);
	--secondary-violet-200: rgba(230, 215, 253, 1);
	--secondary-violet-300: rgba(210, 183, 251, 1);
	--secondary-violet-400: rgba(183, 136, 248, 1);
	--secondary-violet-500: rgba(155, 91, 241, 1);
	--secondary-violet-600: rgba(139, 70, 229, 1);
	--secondary-violet-700: rgba(113, 40, 200, 1);
	--secondary-violet-800: rgba(96, 38, 163, 1);
	--secondary-violet-900: rgba(80, 32, 131, 1);
	--secondary-violet-950: rgba(52, 10, 97, 1);
	--secondary-blue-25: rgba(249, 251, 255, 1);
	--secondary-blue-50: rgba(239, 244, 255, 1);
	--secondary-blue-100: rgba(219, 231, 254, 1);
	--secondary-blue-200: rgba(192, 213, 253, 1);
	--secondary-blue-300: rgba(148, 187, 252, 1);
	--secondary-blue-400: rgba(98, 151, 248, 1);
	--secondary-blue-500: rgba(61, 113, 244, 1);
	--secondary-blue-600: rgba(44, 85, 233, 1);
	--secondary-blue-700: rgba(31, 61, 214, 1);
	--secondary-blue-800: rgba(32, 51, 173, 1);
	--secondary-blue-900: rgba(31, 49, 137, 1);
	--secondary-blue-950: rgba(24, 31, 83, 1);
	--secondary-turqoise-25: rgba(246, 255, 255, 1);
	--secondary-turqoise-50: rgba(223, 255, 255, 1);
	--secondary-turqoise-100: rgba(206, 254, 255, 1);
	--secondary-turqoise-200: rgba(163, 250, 253, 1);
	--secondary-turqoise-300: rgba(101, 244, 251, 1);
	--secondary-turqoise-400: rgba(57, 231, 242, 1);
	--secondary-turqoise-500: rgba(4, 199, 214, 1);
	--secondary-turqoise-600: rgba(6, 159, 180, 1);
	--secondary-turqoise-700: rgba(13, 127, 145, 1);
	--secondary-turqoise-800: rgba(20, 102, 118, 1);
	--secondary-turqoise-900: rgba(21, 84, 100, 1);
	--secondary-turqoise-950: rgba(7, 55, 69, 1);
	--neutral-orange-neutral-25: rgba(249, 246, 245, 1);
	--neutral-orange-neutral-50: rgba(246, 238, 234, 1);
	--neutral-orange-neutral-100: rgba(237, 221, 213, 1);
	--neutral-orange-neutral-200: rgba(228, 205, 193, 1);
	--neutral-orange-neutral-300: rgba(219, 188, 172, 1);
	--neutral-orange-neutral-400: rgba(210, 171, 151, 1);
	--neutral-orange-neutral-500: rgba(201, 155, 131, 1);
	--neutral-orange-neutral-600: rgba(189, 127, 94, 1);
	--neutral-orange-neutral-700: rgba(134, 103, 87, 1);
	--neutral-orange-neutral-800: rgba(100, 77, 65, 1);
	--neutral-orange-neutral-900: rgba(67, 51, 43, 1);
	--neutral-orange-neutral-950: rgba(33, 25, 21, 1);
	--neutral-pink-neutral-25: rgba(253, 251, 253, 1);
	--neutral-pink-neutral-50: rgba(249, 246, 249, 1);
	--neutral-pink-neutral-100: rgba(244, 239, 243, 1);
	--neutral-pink-neutral-200: rgba(235, 223, 232, 1);
	--neutral-pink-neutral-300: rgba(220, 197, 214, 1);
	--neutral-pink-neutral-400: rgba(197, 161, 187, 1);
	--neutral-pink-neutral-500: rgba(169, 115, 154, 1);
	--neutral-pink-neutral-600: rgba(154, 104, 136, 1);
	--neutral-pink-neutral-700: rgba(130, 84, 112, 1);
	--neutral-pink-neutral-800: rgba(109, 71, 94, 1);
	--neutral-pink-neutral-900: rgba(92, 63, 81, 1);
	--neutral-pink-neutral-950: rgba(54, 33, 45, 1);
	--neutral-primary-neutral-25: rgba(248, 249, 255, 1);
	--neutral-primary-neutral-50: rgba(242, 243, 251, 1);
	--neutral-primary-neutral-100: rgba(232, 233, 247, 1);
	--neutral-primary-neutral-200: rgba(213, 214, 240, 1);
	--neutral-primary-neutral-300: rgba(186, 187, 231, 1);
	--neutral-primary-neutral-400: rgba(161, 158, 219, 1);
	--neutral-primary-neutral-500: rgba(144, 134, 206, 1);
	--neutral-primary-neutral-600: rgba(130, 114, 192, 1);
	--neutral-primary-neutral-700: rgba(109, 92, 166, 1);
	--neutral-primary-neutral-800: rgba(89, 76, 135, 1);
	--neutral-primary-neutral-900: rgba(74, 66, 109, 1);
	--neutral-primary-neutral-950: rgba(44, 39, 63, 1);
	--neutral-blue-neutral-25: rgba(247, 251, 255, 1);
	--neutral-blue-neutral-50: rgba(243, 247, 250, 1);
	--neutral-blue-neutral-100: rgba(233, 239, 246, 1);
	--neutral-blue-neutral-200: rgba(214, 225, 239, 1);
	--neutral-blue-neutral-300: rgba(189, 205, 228, 1);
	--neutral-blue-neutral-400: rgba(162, 180, 215, 1);
	--neutral-blue-neutral-500: rgba(139, 155, 201, 1);
	--neutral-blue-neutral-600: rgba(114, 127, 184, 1);
	--neutral-blue-neutral-700: rgba(97, 108, 161, 1);
	--neutral-blue-neutral-800: rgba(80, 89, 131, 1);
	--neutral-blue-neutral-900: rgba(69, 76, 106, 1);
	--neutral-blue-neutral-950: rgba(40, 43, 62, 1);
	--neutral-turqoise-neutral-25: rgba(246, 250, 250, 1);
	--neutral-turqoise-neutral-50: rgba(243, 248, 248, 1);
	--neutral-turqoise-neutral-100: rgba(224, 236, 237, 1);
	--neutral-turqoise-neutral-200: rgba(196, 217, 221, 1);
	--neutral-turqoise-neutral-300: rgba(155, 191, 197, 1);
	--neutral-turqoise-neutral-400: rgba(102, 152, 162, 1);
	--neutral-turqoise-neutral-500: rgba(80, 128, 138, 1);
	--neutral-turqoise-neutral-600: rgba(69, 106, 117, 1);
	--neutral-turqoise-neutral-700: rgba(61, 89, 97, 1);
	--neutral-turqoise-neutral-800: rgba(55, 75, 83, 1);
	--neutral-turqoise-neutral-900: rgba(50, 64, 71, 1);
	--neutral-turqoise-neutral-950: rgba(29, 41, 47, 1);
	--gradient-backgrounds-light-100: linear-gradient(225deg, #fcfcfe 0%, #fdfcfc 50%, #fffefe 100%);
	--gradient-backgrounds-light-200: linear-gradient(225deg, #f9f9fd 0%, #fcfafa 50%, #fffdfd 100%);
	--gradient-backgrounds-light-300: linear-gradient(225deg, #f7f6fd 0%, #fbf7f8 50%, #fffcfd 100%);
	--gradient-backgrounds-light-400: linear-gradient(225deg, #f4f3fc 0%, #faf5f6 50%, #fffbfc 100%);
	--gradient-backgrounds-light-500: linear-gradient(225deg, #f2f0fc 0%, #f9f3f4 50%, #fffbfc 100%);
	--gradient-backgrounds-light-600: linear-gradient(225deg, #efedfb 0%, #f8f0f2 50%, #fffafb 100%);
	--gradient-backgrounds-light-700: linear-gradient(225deg, #eceafa 0%, #f7eef0 50%, #fff9fa 100%);
	--gradient-backgrounds-light-800: linear-gradient(225deg, #eae7fa 0%, #f6ebee 50%, #fff8fa 100%);
	--gradient-backgrounds-light-900: linear-gradient(225deg, #e7e4f9 0%, #f5e9ec 50%, #fff7f9 100%);
	--gradient-backgrounds-light-1000: linear-gradient(225deg, #e5e2f9 0%, #f4e7ea 50%, #fff7f9 100%);
	--gradient-diamond-01: linear-gradient(0deg, rgba(46,40,62,1) 35%, rgba(63,51,96,1) 100%);
	--gradient-linear-dark-01: linear-gradient(90deg, #F7B9AA 0.07%, #3A2515 99.93%);
	--gradient-linear-dark-02: linear-gradient(90deg, #E86ACC 0.07%, #8D3279 99.93%);
	--gradient-linear-dark-03: linear-gradient(90deg, #7556EF -0.07%, #3B3262 100%);
	--gradient-linear-dark-04: linear-gradient(90deg, #5476EB 0.07%, #324C57 99.93%);
	--gradient-linear-dark-05: linear-gradient(90deg, #32A9B1 0.07%, #324C57 99.93%, #32494A 99.93%);
	--gradient-linear-link-block: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
	--transparent-white-transparent-25: rgba(255, 255, 255, 0);
	--transparent-white-transparent-50: rgba(255, 255, 255, 0.1);
	--transparent-white-transparent-100: rgba(255, 255, 255, 0.1);
	--transparent-white-transparent-200: rgba(255, 255, 255, 0.2);
	--transparent-white-transparent-300: rgba(255, 255, 255, 0.3);
	--transparent-white-transparent-400: rgba(255, 255, 255, 0.4);
	--transparent-white-transparent-500: rgba(255, 255, 255, 0.5);
	--transparent-white-transparent-600: rgba(255, 255, 255, 0.6);
	--transparent-white-transparent-700: rgba(255, 255, 255, 0.7);
	--transparent-white-transparent-800: rgba(255, 255, 255, 0.8);
	--transparent-white-transparent-900: rgba(255, 255, 255, 0.9);
	--transparent-white-transparent-950: rgba(255, 255, 255, 0.9);
	--transparent-black-transparent-25: rgba(0, 0, 0, 0);
	--transparent-black-transparent-50: rgba(0, 0, 0, 0.1);
	--transparent-black-transparent-100: rgba(0, 0, 0, 0.1);
	--transparent-black-transparent-200: rgba(0, 0, 0, 0.2);
	--transparent-black-transparent-300: rgba(0, 0, 0, 0.3);
	--transparent-black-transparent-400: rgba(0, 0, 0, 0.4);
	--transparent-black-transparent-500: rgba(0, 0, 0, 0.5);
	--transparent-black-transparent-600: rgba(0, 0, 0, 0.6);
	--transparent-black-transparent-700: rgba(0, 0, 0, 0.7);
	--transparent-black-transparent-800: rgba(0, 0, 0, 0.8);
	--transparent-black-transparent-900: rgba(0, 0, 0, 0.9);
	--transparent-black-transparent-950: rgba(0, 0, 0, 0.9);
	--transparent-primary-transparent-25: rgba(84, 46, 238, 0);
	--transparent-primary-transparent-50: rgba(84, 46, 238, 0.1);
	--transparent-primary-transparent-100: rgba(84, 46, 238, 0.1);
	--transparent-primary-transparent-200: rgba(84, 46, 238, 0.2);
	--transparent-primary-transparent-300: rgba(84, 46, 238, 0.3);
	--transparent-primary-transparent-400: rgba(84, 46, 238, 0.4);
	--transparent-primary-transparent-500: rgba(84, 46, 238, 0.5);
	--transparent-primary-transparent-600: rgba(84, 46, 238, 0.6);
	--transparent-primary-transparent-700: rgba(84, 46, 238, 0.7);
	--transparent-primary-transparent-800: rgba(84, 46, 238, 0.8);
	--transparent-primary-transparent-900: rgba(84, 46, 238, 0.9);
	--transparent-primary-transparent-950: rgba(84, 46, 238, 0.9);
	--transparent-steel-indigo-transparent-25: rgba(101, 86, 159, 0);
	--transparent-steel-indigo-transparent-50: rgba(101, 86, 159, 0.05);
	--transparent-steel-indigo-transparent-100: rgba(101, 86, 159, 0.1);
	--transparent-steel-indigo-transparent-200: rgba(101, 86, 159, 0.2);
	--transparent-steel-indigo-transparent-300: rgba(101, 86, 159, 0.3);
	--transparent-steel-indigo-transparent-400: rgba(101, 86, 159, 0.4);
	--transparent-steel-indigo-transparent-500: rgba(101, 86, 159, 0.5);
	--transparent-steel-indigo-transparent-600: rgba(101, 86, 159, 0.6);
	--transparent-steel-indigo-transparent-700: rgba(101, 86, 159, 0.7);
	--transparent-steel-indigo-transparent-800: rgba(101, 86, 159, 0.8);
	--transparent-steel-indigo-transparent-900: rgba(101, 86, 159, 0.9);
	--transparent-steel-indigo-transparent-950: rgba(101, 86, 159, 0.9);
}



/* Load fonts */
@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/AvenirNext-Regular-08.woff2') format('woff2');
	/* You can also include other font file formats for broader compatibility */
}
@font-face {
	font-family: 'Avenir Next';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/AvenirNext-Italic-05.woff2') format('woff2');
	/* You can also include other font file formats for broader compatibility */
}
@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/AvenirNext-Medium-06.woff2') format('woff2');
	/* You can also include other font file formats for broader compatibility */
}
@font-face {
	font-family: 'Avenir Next';
	font-style: italic;
	font-weight: 500;
	src: url('/fonts/AvenirNext-MediumItalic-07.woff2') format('woff2');
	/* You can also include other font file formats for broader compatibility */
}
@font-face {
	font-family: "Avenir Next";
	font-style: normal;
  	font-weight: 700;
  	src: url('/fonts/AvenirNext-DemiBold-03.woff2') format('woff2');
	/* You can also include other font file formats for broader compatibility */
}



/* Load Figma text styles */
.display-2xl-regular {
	font-size: 72px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: -0.02em;
	line-height: 90px;
}
.display-2xl-medium {
	font-size: 72px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 90px;
}
.display-2xl-semibold {
	font-size: 72px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 90px;
}
.display-2xl-bold {
	font-size: 72px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 90px;
}
.display-xl-regular {
	font-size: 60px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: -0.02em;
	line-height: 72px;
}
.display-xl-medium {
	font-size: 60px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 72px;
}
.display-xl-semibold {
	font-size: 60px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 72px;
}
.display-xl-bold {
	font-size: 60px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 72px;
}
.display-lg-regular {
	font-size: 48px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: -0.02em;
	line-height: 60px;
}
.display-lg-medium {
	font-size: 48px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 60px;
}
.display-lg-semibold {
	font-size: 48px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 60px;
}
.display-lg-bold {
	font-size: 48px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 60px;
}
.display-md-regular {
	font-size: 36px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: -0.02em;
	line-height: 44px;
}
.display-md-medium {
	font-size: 36px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 44px;
}
.display-md-semibold {
	font-size: 36px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 44px;
}
.display-md-bold {
	font-size: 36px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 44px;
}
.display-sm-regular {
	font-size: 30px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 38px;
}
.display-sm-medium {
	font-size: 30px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: 38px;
}
.display-sm-medium-italic {
	font-size: 30px;
	font-family: 'Avenir Next';
	font-weight: 500;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 44px;
}
.display-sm-semibold {
	font-size: 30px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0;
	line-height: 38px;
}
.display-sm-bold {
	font-size: 30px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 38px;
}
.display-xs-regular {
	font-size: 21px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 32px;
}
.display-xs-medium {
	font-size: 24px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: 32px;
}
.display-xs-medium-italic {
	font-size: 24px;
	font-family: 'Avenir Next';
	font-weight: 500;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 36px;
}
.display-xs-semibold {
	font-size: 24px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 32px;
}
.display-xs-bold {
	font-size: 24px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 32px;
}
.display-2xs-medium {
	font-size: 22px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: 28px;
}
.display-2xs-semibold {
	font-size: 22px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.01em;
	line-height: 36px;
}
.display-3xs-medium {
	font-size: 17px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0.03em;
}
.display-3xs-semibold {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
}
.display-4xs-regular {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: 0.03em;
	line-height: 28px;
}
.display-4xs-medium {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 28px;
}
.display-4xs-semibold {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 28px;
}
.display-4xs-bold {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 28px;
}
.rating-blocks-action-text {
	font-size: 15px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 100%;
}
.rating-blocks-info {
	font-size: 35px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 100%;
}
.rating-blocks-info-large {
	font-size: 40px;
	font-family: 'Avenir Next';
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 100%;
}
.rating-blocks-info-small {
	font-size: 19px;
	font-family: 'Avenir Next';
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 100%;
}
.rating-blocks-rating-small {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 100%;
}
.rating-blocks-title {
	font-size: 17px;
	font-family: 'Avenir Next';
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 100%;
}
.text-xl-regular {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 30px;
}
.text-xl-regular-italic {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-style: italic;
	letter-spacing: 0em;
	line-height: 30px;
}
.text-xl-medium {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0em;
	line-height: 30px;
}
.text-xl-medium-italic {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-weight: 500;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 30px;
}
.text-xl-semibold {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 30px;
}
.text-xl-semibold-italic {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 30px;
}
.text-xl-bold {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 30px;
}
.text-xl-bold-italic {
	font-size: 20px;
	font-family: 'Avenir Next';
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 30px;
}
.text-lg-regular {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 28px;
}
.text-lg-regular-italic {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-style: italic;
	letter-spacing: 0em;
	line-height: 28px;
}
.text-lg-medium {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0em;
	line-height: 28px;
}
.text-lg-medium-italic {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-weight: 500;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 28px;
}
.text-lg-semibold {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 28px;
}
.text-lg-semibold-italic {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 28px;
}
.text-lg-semibold-underline {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 28px;
}
.text-lg-bold {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 28px;
}
.text-lg-bold-italic {
	font-size: 18px;
	font-family: 'Avenir Next';
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 28px;
}
.text-md-regular {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 24px;
}
.text-md-regular-italic {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-style: italic;
	letter-spacing: 0em;
	line-height: 24px;
}
.text-md-medium {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0em;
	line-height: 24px;
}
.text-md-medium-italic {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 500;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 24px;
}
.text-md-semibold {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 24px;
}
.text-md-semibold-italic {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 24px;
}
.text-md-semibold-underline {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 24px;
}
.text-md-bold {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 24px;
}
.text-md-bold-italic {
	font-size: 16px;
	font-family: 'Avenir Next';
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0em;
	line-height: 24px;
}
.text-sm-regular {
	font-size: 14px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 20px;
}
.text-sm-medium {
	font-size: 14px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0.01em;
	line-height: 20px;
}
.text-sm-semibold {
	font-size: 14px;
	font-family: 'Avenir Next';
	font-weight: 700 !important;
	letter-spacing: 0.03em;
}
.text-sm-semibold-underline {
	font-size: 14px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.03em;
}
.text-sm-bold {
	font-size: 14px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 20px;
}
.text-xs-regular {
	font-size: 12px;
	font-family: 'Avenir Next';
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 18px;
}
.text-xs-medium {
	font-size: 12px;
	font-family: 'Avenir Next';
	font-weight: 500;
	letter-spacing: 0em;
	line-height: 18px;
}
.text-xs-semibold {
	font-size: 12px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0.01em;
	line-height: 18px;
}
.text-xs-bold {
	font-size: 12px;
	font-family: 'Avenir Next';
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 18px;
}



/* Body */
body, html {
	background: var(--gradient-backgrounds-light-700);
	color: var(--primary-gray-900);
	font-family: 'Avenir Next';
	font-weight: 400;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}
	body#body-orange {
		background: linear-gradient(45deg, #FFFBFA 0%, #FDF5F3 50%, #FCE9E4 100%);
	}
	body#body-pink {
		background: linear-gradient(45deg, #fff 0%, #FFF8FE 50%, #FFECFD 100%);
	}
	body#body-indigo {
		background: var(--primary-primary-50);
	}
	body#body-blue {
		background: var(--secondary-blue-50);
	}
	body#body-turqoise {
		background: var(--secondary-turqoise-50);
	}



/* Box Shadows */
.shadow-dark-sm {
	box-shadow: 0px 5px 8px -5px rgba(11, 0, 82, 0.02), 0px 15px 20px -5px rgba(11, 0, 82, 0.02);
}
.shadow-dark-md {
	box-shadow: 0px 5px 8px -5px rgba(11, 0, 82, 0.03), 0px 15px 20px -5px rgba(11, 0, 82, 0.05);
}
.shadow-dark-lg {
	box-shadow: 0px 10px 10px -5px rgba(11, 0, 82, 0.08), 0px 20px 25px -5px rgba(11, 0, 82, 0.08);
}
.shadow-dark-xl {
	box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.30), 0px 13px 27px -5px rgba(50, 50, 93, 0.25);
}
.shadow-dark-2xl {
	box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.30), 0px 30px 60px -12px rgba(50, 50, 93, 0.25);
}



/* Buttons */
/* Button Colors */
#body-orange .btn {
	background: var(--secondary-orange-50);
	border: solid 2px var(--secondary-orange-200);
	border-radius: 8px;
	color: var(--secondary-orange-700);
}

/* Button Other */
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
	background: none;
	border: none;
}
.btn-no-border {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
.btn-secondary {
	background: none;
	border: none;
	padding: 0;
	height: 28px;
}
	.btn #subscribeIcon {
		background: url('/img/icons/subscribe-bell.svg') no-repeat;
		width: 17px;
		height: 17px;
		margin-top: -1px;
		margin-right: 8px;
	}



/* Dropdowns */
.dropdown-menu {
	background: var(--base-white);
	border: solid 1px var(--primary-gray-200);
	border-radius: 8px;
	box-shadow: 0px 5px 9px 0px rgba(15, 0, 78, 0.30);
	color: var(--primary-gray-700);
	padding: 8px 0;
}
	.dropdown-menu .divider {
		background: var(--primary-gray-200);
		height: 1px;
		margin: 8px 0;
	}
	.dropdown-menu .dropdown-item:hover{
		border-radius: 6px;
	}
		#body-orange .dropdown-menu .dropdown-item:hover{
			background: var(--secondary-orange-50);
		}
		#body-pink .dropdown-menu .dropdown-item:hover{
			background: var(--secondary-pink-50);
		}
		#body-indigo .dropdown-menu .dropdown-item:hover{
			background: var(--primary-primary-50);
		}
		#body-blue .dropdown-menu .dropdown-item:hover{
			background: var(--secondary-blue-50);
		}
		#body-turqoise .dropdown-menu .dropdown-item:hover{
			background: var(--secondary-turqoise-50);
		}
	.dropdown-menu .form-check-input {
		border: solid 1.5px var(--primary-gray-700);
	}
		#body-orange .dropdown-menu .form-check-input:checked, #body-orange .dropdown-menu .form-check-input:focus {
			background-color: var(--secondary-orange-400);
			border: solid 1.5px var(--secondary-orange-950);
			box-shadow: 0 0 0 .20rem var(--secondary-orange-200);
		}
		#body-pink .dropdown-menu .form-check-input:checked, #body-pink .dropdown-menu .form-check-input:focus {
			background-color: var(--secondary-pink-400);
			border: solid 1.5px var(--secondary-pink-950);
			box-shadow: 0 0 0 .20rem var(--secondary-pink-200);
		}
		#body-indigo .dropdown-menu .form-check-input:checked, #body-indigo .dropdown-menu .form-check-input:focus {
			background-color: var(--primary-primary-400);
			border: solid 1.5px var(--primary-primary-950);
			box-shadow: 0 0 0 .20rem var(--primary-primary-200);
		}
		#body-blue .dropdown-menu .form-check-input:checked, #body-blue .dropdown-menu .form-check-input:focus {
			background-color: var(--secondary-blue-400);
			border: solid 1.5px var(--secondary-blue-950);
			box-shadow: 0 0 0 .20rem var(--secondary-blue-200);
		}
		#body-turqoise .dropdown-menu .form-check-input:checked, #body-turqoise .dropdown-menu .form-check-input:focus {
			background-color: var(--secondary-turqoise-400);
			border: solid 1.5px var(--secondary-turqoise-950);
			box-shadow: 0 0 0 .20rem var(--secondary-turqoise-200);
		}
	.dropdown-menu li {
		padding: 3px 8px;
	}
		.dropdown-menu li.header {
			font-weight: 400;
		}
		.dropdown-menu li.header a:hover {
			background: none;
			cursor: default;
		}
		.dropdown-menu li.level-2-option {
			padding-right: 8px;
			padding-left: 8px;
		}
		.dropdown-menu li .link-container {
			padding: 0px 27px;
		}
	.dropdown-menu .icon {
		width: 16px;
		height: 16px;
	}
		.dropdown-menu .icon#add-to-dashboard {
			background: url('/img/icons/add-to-dashboard.svg') no-repeat;
		}
		.dropdown-menu .icon#content-complexity {
			background: url('/img/icons/content-complexity.svg') no-repeat;
		}
		.dropdown-menu .icon#layout-style {
			background: url('/img/icons/layout-style.svg') no-repeat;
		}
		.dropdown-menu .icon#share {
			background: url('/img/icons/share-02.svg') no-repeat;
		}
	.dropdown-menu input {
		width: 13px;
		height: 13px;
	}
	.dropdown-menu .icon, .dropdown-menu input {
		margin: -1px 8px 0 0;
		vertical-align: middle;
	}
.dropdown-toggle {
	margin-bottom: 8px;
	padding: 16px 9px 16px 9px;
}
	#body-orange .dropdown-toggle {
		background: var(--secondary-orange-50) !important;
		border: solid 2px var(--secondary-orange-200) !important;
	}
	#body-pink .dropdown-toggle {
		background: var(--secondary-pink-50) !important;
		border: solid 2px var(--secondary-pink-200) !important;
	}
	#body-indigo .dropdown-toggle {
		background: var(--primary-primary-50) !important;
		border: solid 2px var(--primary-primary-200) !important;
	}
	#body-blue .dropdown-toggle {
		background: var(--secondary-blue-50) !important;
		border: solid 2px var(--secondary-blue-200) !important;
	}
	#body-turqoise .dropdown-toggle {
		background: var(--secondary-turqoise-50) !important;
		border: solid 2px var(--secondary-turqoise-200) !important;
	}



/* Footer */
footer {
	background: rgba(24, 7, 94, 0.09);
	color: var(--primary-steel-indigo-800);
}
	footer .container {
		max-width: 1280px;
	}
		footer #footer-logo a {
			background-color: var(--primary-steel-indigo-800);
			mask: url('/img/icons/logo-dark.svg') no-repeat 0px / 32px;
			-webkit-mask-image: url('/img/icons/logo.svg');
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-size: 32px 24px;
			width: 32px;
			height: 24px;
		}
		footer .inner-container {
			height: 60px;
			padding: 0;
		}
			@media screen and (max-width: 768px) {
				footer .inner-container {
					height: auto;
				}
				footer #footer-logo {
					padding-top: 14px;
				}
				footer #footer-tagline {
					padding: 8px 0 20px 0;
				}
				footer #footer-links {
					padding-bottom: 14px;
				}
			}
		footer .links {
			gap: 16px;
		}



/* Headers */
.breadcrumb {
	height: 20px;
	margin: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
	content: url(/img/icons/chevron-right.svg);
	padding-top: 2px;
}
	@media screen and (max-width: 768px) {
		.breadcrumb-item.subcategory {
			display: none !important;
		}
		.breadcrumb-item.active {
			max-width: 300px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
h1 {
	margin-bottom: 0;
}
h2 {
	height: 28px;
}
	#body-orange h2 {
		color: var(--secondary-orange-700);
	}
	#body-pink h2 {
		color: var(--secondary-pink-700);
	}
	#body-indigo h2 {
		color: var(--primary-primary-700);
	}
	#body-blue h2 {
		color: var(--secondary-blue-700);
	}
	#body-turqoise h2 {
		color: var(--secondary-turqoise-700);
	}
#header-container {
	gap: 16px;
	padding-top: 50px;
	padding-bottom: 12px;
}
	#header-container button {
		margin-top: 2px;
	}
.nav {
	border-bottom: solid 1px var(--primary-gray-200);
	gap: 16px;
}
	@media screen and (max-width: 768px) {
		.nav {
			display: none !important;
		}
	}
	.nav a {
		color: var(--primary-gray-500);
	}
	.nav .activate2 {
		padding-bottom: 8px;
	}
		#body-orange .nav .activate2 {
			border-bottom: solid 2px var(--secondary-orange-700);
			color: var(--secondary-orange-700);
		}
		#body-pink .nav .activate2 {
			border-bottom: solid 2px var(--secondary-pink-700);
			color: var(--secondary-pink-700);
		}
		#body-indigo .nav .activate2 {
			border-bottom: solid 2px var(--primary-primary-700);
			color: var(--primary-primary-700);
		}
		#body-blue .nav .activate2 {
			border-bottom: solid 2px var(--secondary-blue-700);
			color: var(--secondary-blue-700);
		}
		#body-turqoise .nav .activate2 {
			border-bottom: solid 2px var(--secondary-turqoise-700);
			color: var(--secondary-turqoise-700);
		}
	#nav-kebab {
		border-bottom: solid 1px var(--primary-gray-200);
		font-size: 15px;
		padding-bottom: 6px;
	}
		#nav-kebab button {
			color: var(--primary-gray-400);
		}
	@media screen and (min-width: 768px) {
		#nav-mobile {
			display: none !important;
		}
	}
	#nav-mobile {
		border-bottom: solid 1px var(--primary-gray-200);
	}
		#body-orange #nav-mobile button {
			color: var(--secondary-orange-700);
		}
		#body-pink #nav-mobile button {
			color: var(--secondary-pink-700);
		}
		#body-indigo #nav-mobile button {
			color: var(--primary-primary-700);
		}
		#body-blue #nav-mobile button {
			color: var(--secondary-blue-700);
		}
		#body-turqoise #nav-mobile button {
			color: var(--secondary-turqoise-700);
		}
			#nav-mobile button::after {
				border: 0;
				margin-top: 2px;
				margin-left: 6px;
				mask: url('/img/icons/chevron-down.svg') center / 11px no-repeat;
				width: 16px;
				height: 16px;
		}
				#body-orange #nav-mobile button::after {
					background-color: var(--neutral-orange-neutral-600);
			}
				#body-pink #nav-mobile button::after {
					background-color: var(--neutral-pink-neutral-600);
			}
				#body-indigo #nav-mobile button::after {
					background-color: var(--neutral-primary-neutral-600);
			}
				#body-blue #nav-mobile button::after {
					background-color: var(--neutral-blue-neutral-600);
			}
				#body-turqoise #nav-mobile button::after {
					background-color: var(--neutral-turqoise-neutral-600);
			}
.nav-link {
	padding: 0;
}
#nav-top {
	background: rgba(24, 7, 94, 0.09);
}
	#nav-top .container {
		height: 54px;
	}
		#menu-container {
			width: 24px;
			height: 24px
		}
			#hamburger {
				background-color: var(--primary-steel-indigo-800);
				border: none;
				mask: url('/img/icons/menu-03.svg') no-repeat 0px / 20px;
				-webkit-mask-image: url('/img/icons/menu-03.svg');
				-webkit-mask-position: center;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-size: 20px;
				width: 20px;
				height: 14px;
			}
		#search-container {
			width: 24px;
			height: 24px
		}
			#search-sm {
				background-color: var(--primary-steel-indigo-800);
				mask: url('/img/icons/search-sm.svg') no-repeat 0px / 20px;
				-webkit-mask-image: url('/img/icons/search-sm.svg');
				-webkit-mask-position: center;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-size: 20px;
				width: 20px;
				height: 19px;
			}
		#nav-top #inner-container {
			gap: 12px;
		}
			#nav-top .button a {
				border-radius: 6px;
				color: var(--primary-steel-indigo-800);
				padding: 4px 10px
			}
		.nav-active {
			background: var(--transparent-white-transparent-500);
		}
	#nav-top #divider {
		background: var(--transparent-steel-indigo-transparent-200);
		height: 1px;
		width: 100%
	}
	@media screen and (max-width: 768px) {
		#subnav {
			display: none !important;
		}
	}
	#nav-top #logo {
		background-color: var(--primary-steel-indigo-800);
		mask: url('/img/icons/logo.svg') no-repeat 0px / 38px;
		-webkit-mask-image: url('/img/icons/logo.svg');
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 38px;
		width: 38px;
		height: 28px;
	}
#page-header {
	padding-top: 16px;
}



/* Forms */
.input-group {
	background: var(--base-white);
	border-radius: 6px;
}
.form-control {
	height: 44px;
}
.form-control:focus {
	border: solid 1px var(--primary-primary-200);
	box-shadow: 0 0 0 .25rem rgba(11, 0, 82, .05)
}
#main input {
	background: url(/img/icons/search-sm.svg) 98% no-repeat;
	background-color: var(--transparent-white-transparent-600);
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 6px 16px;
}



/* Links */
.link-no-color {
	color: var(--primary-gray-500);
	text-decoration: none;
}
#body-orange .link {
	color: var(--secondary-orange-900) !important;
}
#body-pink .link {
	color: var(--secondary-pink-900) !important;
}
#body-indigo .link {
	color: var(--primary-primary-900) !important;
}
#body-blue .link {
	color: var(--secondary-blue-900) !important;
}
#body-turqoiseq .link {
	color: var(--secondary-turqoise-900) !important;
}



/* Link Blocks */
#link-block-container {
	gap: 12px;
	padding-top: 30px;
}
	.link-block {
		background-size: contain;
		border-radius: 12px;
		box-shadow: 0px 5px 9px 0px rgba(15, 0, 78, 0.30);
		color: var(--base-white);
		position: relative;
		max-width: 230px;
		min-width: 220px;
		height: 192px;
	}
	.link-block#link-block-orange {
		background: var(--gradient-linear-dark-01);
	}
	.link-block#link-block-pink {
		background: var(--gradient-linear-dark-02);
	}
	.link-block#link-block-indigo {
		background: var(--gradient-linear-dark-03);
	}
	.link-block#link-block-blue {
		background: var(--gradient-linear-dark-04);
	}
	.link-block#link-block-turqoise {
		background: var(--gradient-linear-dark-05);
	}
		.link-block .link-block-content {
			display: flex;
			flex-direction: column;
			gap: 6px;
			padding-top: 116px;
		}
			.link-block .link-block-link {
				background: linear-gradient(270deg, rgba(0, 0, 0, 0.70) 0%, rgba(56, 42, 35, 0.20) 100%);
				gap: 8px;
				padding-right: 8px;
			}
			#orange.link-block-link {
				color: var(--secondary-orange-200);
			}
			#pink.link-block-link {
				color: var(--secondary-pink-200);
			}
			#indigo.link-block-link {
				color: var(--primary-primary-200);
			}
			#blue.link-block-link {
				color: var(--secondary-blue-200);
			}
			#turqoise.link-block-link {
				color: var(--secondary-turqoise-200);
			}
				.link-block-link #image-container svg {
					fill: var(--base-white);
					stroke: var(--base-white);
					stroke-width: 1.1px;
					width: 5px;
				}
			.link-block .link-block-title {
				padding-right: 8px;
			}
		.link-block .background-image {
			background-size: 100% !important;
			opacity: 20%;
			position: absolute;
			width: 100%;
			height: 100%;
		}
			#link-block-orange .background-image {
				background: url('/img/details/alzheimers-details.jpg');
			}
			#link-block-pink .background-image {
				background: url('/img/details/alzheimers-treatments.jpg');
			}
			#link-block-indigo .background-image {
				background: url('/img/details/alzheimers-clinical-research.jpg');
			}
			#link-block-blue .background-image {
				background: url('/img/details/alzheimers-news.jpg');
			}
			#link-block-turqoise .background-image {
				background: url('/img/details/alzheimers-community.jpg');
			}
		.link-block .mask {
			mask-image: var(--gradient-linear-link-block);
			-webkit-mask-image: var(--gradient-linear-link-block);
		}


/* Spacing */
.p-t-8 {
	padding-top: 8px;
}
.p-t-16 {
	padding-top: 16px;
}
.p-t-24 {
	padding-top: 24px;
}
.p-t-32 {
	padding-top: 32px;
}
.p-t-48 {
	padding-top: 48px;
}
.p-t-64 {
	padding-top: 64px;
}
.p-t-96 {
	padding-top: 96px;
}
.p-t-8 {
	padding-bottom: 8px;
}
.p-b-16 {
	padding-bottom: 16px;
}
.p-b-24 {
	padding-bottom: 24px;
}
.p-b-32 {
	padding-bottom: 32px;
}
.p-b-48 {
	padding-bottom: 48px;
}
.p-b-64 {
	padding-bottom: 64px;
}
.p-b-96 {
	padding-bottom: 96px;
}
.p-tb-16 {
	padding-top: 16px;
	padding-bottom: 16px;
}
.p-tb-180 {
	padding-top: 180px;
	padding-bottom: 180px;
}
.p-lr-16 {
	padding-right: 16px;
	padding-left: 16px;
}
.p-lr-24 {
	padding-right: 24px;
	padding-left: 24px;
}
.p-lr-28 {
	padding-right: 28px;
	padding-left: 28px;
}
.max-width-1280 {
	max-width: 1280px;
}



/* Widgets */
.highlight-widget {
	border-radius: 12px;
	gap: 13px;
	height: 172px;
	width: 324px;
}
	#body-orange .highlight-widget{
		background: var(--secondary-orange-25);
		border: solid 2px var(--secondary-orange-200);
	}
	#body-pink .highlight-widget{
		background: var(--secondary-pink-25);
		border: solid 2px var(--secondary-pink-200);
	}
	#body-indigo .highlight-widget{
		background: var(--primary-primary-25);
		border: solid 2px var(--primary-primary-200);
	}
	#body-blue .highlight-widget{
		background: var(--secondary-blue-25);
		border: solid 2px var(--secondary-blue-200);
	}
	#body-turqoise .highlight-widget{
		background: var(--secondary-turqoise-25);
		border: solid 2px var(--secondary-turqoise-200);
	}
	#container-grade {
		border-radius: 12px;
		color: var(--base-white);
		gap: 1px;
		width: 104px;
	}
		#body-orange #container-grade {
			background: var(--secondary-orange-950);
			border: solid 3px var(--secondary-orange-500);
		}
		#body-pink #container-grade {
			background: var(--secondary-pink-950);
			border: solid 3px var(--secondary-pink-500);
		}
		#body-indigo #container-grade {
			background: var(--primary-primary-950);
			border: solid 3px var(--primary-primary-950);
		}
		#body-blue #container-grade {
			background: var(--secondary-blue-950);
			border: solid 3px var(--secondary-blue-500);
		}
		#body-turqoise #container-grade {
			background: var(--secondary-turqoise-950);
			border: solid 3px var(--secondary-turqoise-500);
		}
	#container-lower {
		height: 17px;
	}
		#body-orange #container-lower {
			color: var(--secondary-orange-700) !important;
		}
		#body-pink #container-lower {
			color: var(--secondary-pink-700) !important;
		}
		#body-indigo #container-lower {
			color: var(--primary-steel-indigo-700) !important;
		}
		#body-blue #container-lower {
			color: var(--secondary-blue-700) !important;
		}
		#body-turqoise #container-lower {
			color: var(--secondary-turqoise-700) !important;
		}
	#container-upper {
		height: 88px;
	}
#widget-container {
	gap: 24px;
}
	.widget {
		background: var(--transparent-white-transparent-300);
		border-radius: 12px;
		gap: 16px;
		padding: 20px;
	}
		.widget hr {
			display: none;
		}
		.widget p {
			margin: 0;
		}
		.widget .widget-header {
			height: 38px;
		}
			#body-orange .widget-header {
				border-bottom: solid 1px var(--secondary-orange-200);
			}
			#body-pink .widget-header {
				border-bottom: solid 1px var(--secondary-pink-200);
			}
			#body-indigo .widget-header {
				border-bottom: solid 1px var(--primary-primary-200);
			}
			#body-blue .widget-header {
				border-bottom: solid 1px var(--econdary-blue-200);
			}
			#body-turqoise .widget-header {
				border-bottom: solid 1px var(--econdary-turqoise-200);
			}
		.widget .widget-kabob {
			height: 28px;
		}
	#body-orange .widget {
		border: solid 2px var(--secondary-orange-300);
	}
	#body-pink .widget {
		border: solid 2px var(--secondary-pink-300);
	}
	#body-indigo .widget {
		border: solid 2px var(--primary-primary-200);
	}
		#body-indigo .widget .btn {
			color: var(--primary-primary-600);
		}
		#body-indigo .widget .widget-header {
			border-bottom: solid 1px var(--primary-primary-200);
		}
	#body-blue .widget {
		border: solid 2px var(--secondary-blue-200);
	}
	#body-turqoise .widget {
		border: solid 2px var(--secondary-turqoise-200);
	}


/* Other */
blockquote {
	border-left: solid 2px var(--transparent-steel-indigo-transparent-300);
	padding-left: 24px;
}
.breadcrumb-item + .breadcrumb-item::before {
	content: url(/img/icons/chevron-right.svg);
	padding-top: 2px;
}
	.breadcrumb-item.active {
		font-weight: 500;
	}
		#body-orange .breadcrumb-item.active {
			color: var(--secondary-orange-700);
		}
		#body-pink .breadcrumb-item.active {
			color: var(--secondary-pink-700);
		}
		#body-indigo .breadcrumb-item.active {
			color: var(--primary-primary-700);
		}
		#body-blue .breadcrumb-item.active {
			color: var(--secondary-blue-700);
		}
		#body-turqoise .breadcrumb-item.active {
			color: var(--secondary-turqoise-700);
		}
#feature-container {
	gap: 64px;
}
	#feature-container .feature {
		min-width: 286px;
		text-align: justify;
	}
	#feature-container .icon-mask {
		background-color: var(--primary-steel-indigo-600);
		mask: url('/img/icons/logo.svg') no-repeat 0px / 32px;
		-webkit-mask-image: url('/img/icons/logo.svg');
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 32px 24px;
		width: 32px;
		height: 24px;
	}
		#feature-container #dashboard {
			mask: url('/img/icons/add-to-dashboard.svg') no-repeat 4px / 24px;
		}
		#feature-container #rating {
			mask: url('/img/icons/star-01.svg') no-repeat 4px / 24px;
		}
		#feature-container #sliders {
			mask: url('/img/icons/sliders-04.svg') no-repeat 3px / 24px;
		}
	#feature-container .icon-container {
		background: var(--transparent-steel-indigo-transparent-100);
		border-radius: 50%;
		width: 64px;
		height: 64px;

	}
	#feature-container .link {
		color: var(--links-indigo);
	}
	#feature-container .row {
		margin: 12px 0;
	}
#main-content {
	padding: 48px 0 96px 0;
}
@media (min-width: 767px) {
	#main {
		min-height: 300px;
		width: 100%;
	}
}
@media (max-width: 768px) {
	#main {
		min-height: 300px;
		width: 100%;
	}
}
.row-alt {
	background: var(--gradient-backgrounds-light-300);
}
#tagline {
	color: var(--primary-gray-600);
	padding: 22px 0 16px 0
}
#toc {
	height: 400px;
	position: sticky;
	top: 20px;
	min-width: 190px;
}
@media screen and (max-width: 768px) {
	#toc {
		display: none !important;
	}
}
	#toc li {
		border-radius: 6px;
		color: var(--primary-gray-500);
		height: 35px;
		padding: 8px 12px;
	}
	#toc li.active {
		background: var(--transparent-white-transparent-950);
		color: var(--primary-primary-700);
	}
		#toc li.active a {
			color: var(--primary-primary-700);
		}


/* Michael additions */
img {
	max-width: 100%;
	height: auto;
}
table {
  width: 100%;
}
.autocomp {
	background: #f8f8f8;
	border-radius: 0 0 5px 5px;
	border: 1px solid #ccc;
	border-top: 0;
	box-shadow: 2px 2px 2px #eee;
	text-align: left;
}
.autocomp-item {
	padding-bottom: 5px;
	padding: 10px;
	cursor: pointer;
}
.autocomp-item:hover,
.autocomp-sel {
	background: #f1f1f1;
	font-weight: bold;
}
.btn-dark {
	background: var(--primary-primary-500);
	border: none;
}
	.btn-dark:hover {
		background: var(--primary-primary-800);
	}
.my-indicator{display:none;}
.htmx-request .my-indicator{display:inline;}
.htmx-request.my-indicator{display:inline;}
